<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!-- 属性配置 -->
	<property name="LOG_NAME" value="blog" />
	<property name="LOG_PATH" value=".logs" />

	<contextName>${LOG_NAME}</contextName>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/portal/portal.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_PATH}/portal/portal.%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<maxFileSize>4MB</maxFileSize>
			<!--日志文件保留天数 -->
			<MaxHistory>30</MaxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="redis"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/redis/redis.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_PATH}/redis/redis.%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<maxFileSize>4MB</maxFileSize>
			<!--日志文件保留天数 -->
			<MaxHistory>30</MaxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="diagnose"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/diagnose/diagnose.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_PATH}/diagnose/diagnose.%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<maxFileSize>4MB</maxFileSize>
			<!--日志文件保留天数 -->
			<MaxHistory>30</MaxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -
				%msg%n</pattern>
		</encoder>
	</appender>


	<logger name="com.my" addtivity="true" level="INFO">
	</logger>

    <logger name="com.my.demo.aspect.WebLogAspect"
    	addtivity="false" level="INFO">
    	<appender-ref ref="diagnose" />
    </logger>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>